
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: cornsilk;
    font-family: "Ubuntu", sans-serif;     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel-container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 500px;
    flex-direction: column;
}
.panel-container strong{
    margin: 25px 0;
    line-height: 20px;
}
.rating-container{
    display: flex;
    margin: 20px 0;
    
}
.rating{
    cursor: pointer;
    flex: 1;
    padding: 20px;
    margin: 10px 5px;
    
}
.rating:hover{
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn{
    background-color: #302d2b;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}